<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.snotes.snotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SNotesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.notesmain.NotesMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.addnotes.AddNotesActivity" />
        <activity android:name=".view.auth.AuthActivity" />
        <activity android:name=".view.protectedandstarred.ProtectedActivity" />
        <activity android:name=".settings.PreferenceActivity" />
        <activity android:name=".view.about.AboutActivity" />

        <service android:name=".service.NotesService" />

        <receiver android:name=".widget.NoteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>

        <activity android:name=".widget.NoteWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ac0fd1c27fab559e476a05958774e56a8357edbe" />
    </application>

</manifest>